<h1>Search Items</h1>
<br />
<h3>Searching For: <%= @search_term %></h3>
<table class="items">

  <% if @items.length == 0 %>
      <br />
      <h2>No Items found for this search term!!</h2>
  <% end %>

  <% @items.each do |item| %>
      <tr>
        <td>
          <div class="image">
            <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
          </div>
        </td>
        <td>
          <div class="title">
            <%= link_to item.title, item %>
          </div>
          <div class="description">
            <%=h item.description %>
          </div>
          <div class="color">
            <%=h item.color %>
          </div>
          <div class="size">
            <%=h item.size %>
          </div>
          <div class="price">
            <%= number_to_currency(item.price, :unit => "&pound;") %>
          </div>
          <div class="links">
            <% if session[:login] == 1 %>
                <%= link_to 'Edit', edit_item_path(item) %> |
                <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
            <% else %>
                <a href="/bag/<%= item.id %>">Add to Bag</a><br><br>
            <% end %>
          </div>


        </td>
      </tr>

  <% end %>
</table>

<% if session[:login] == 1 %>
    <p><%= link_to 'New item', new_item_path %></p>
<% end %>
